[Unit]
Description=Run the viz feature scanner every 20 minutes

[Timer]
OnBootSec=3min
OnUnitActiveSec=20min
Persistent=true

[Install]
WantedBy=timers.target
